body {
	background-color: #14131a;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
}
.container {
	max-width: 1140px;
	margin: auto;
}
.header {
	display: flex;
	align-items: center;
	padding-top: 40px;
	margin-bottom: 80px;
}
.header__logo-link {
	display: inline-block;
	margin-right: 50px;
}
/* .nav {
	margin: 0;
	padding: 0;
} */
.nav__menu {
	margin: 0;
	/* padding: 0; */
	list-style: none;
	display: flex;
}
.nav__link {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.5);
	margin-right: 30px;
}
.nav__link_active {
	color: rgb(206, 117, 44);
}

.hero__span {
	display: block;
	font-size: 24px;
	line-height: 28px;
	color: rgba(255, 255, 255, 0.8);
	margin-bottom: 38px;
}
.hero__description {
	max-width: 423px;
	font-size: 16px;
	line-height: 140%;
	/* or 22px */

	color: rgba(255, 255, 255, 0.8);
	margin-top: 40px;
}
.hero-buttons {
	margin-top: 70px;
}
.hero-buttons__ticket {
	background-color: rgba(255, 255, 255, 0);
}
.button {
	font-size: 14px;
	line-height: 16px;
	padding: 15px 30px;
	border: none;
	border-radius: 5px;
	text-decoration: none;
	cursor: pointer;
}
.hero-buttons__icon,
.hero-buttons__text {
	display: inline-block;
	vertical-align: middle;
	color: #ffffff;
}
.hero-battons_active {
	background-color: rgba(255, 255, 255, 1);
	color: #8d0019;
}
.hero-buttons__text {
	margin-left: 10px;
}

.venom-pic {
	position: absolute;
	top: 0;
	right: 0;
}
.blood {
	background: url('../img/blood.png') no-repeat top right,
		#14131a url('../img/background.jpg') no-repeat center center;
}
