body {
	background-color: #14131a;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
}
.container {
	max-width: 1140px;
	margin: auto;
}
.header {
	display: flex;
	align-items: center;
	padding-top: 40px;
	margin-bottom: 80px;
}
.header__logo-link {
	display: inline-block;
	margin-right: 50px;
}
/* .nav {
	margin: 0;
	padding: 0;
} */
.nav__menu {
	margin: 0;
	/* padding: 0; */
	list-style: none;
	display: flex;
}
.nav__link {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.5);
	margin-right: 30px;
}
.nav__link_active {
	color: rgb(206, 117, 44);
}

.hero__span {
	display: block;
	font-size: 24px;
	line-height: 28px;
	color: rgba(255, 255, 255, 0.8);
	margin-bottom: 38px;
}
.hero__description {
	max-width: 423px;
	font-size: 16px;
	line-height: 140%;
	/* or 22px */

	color: rgba(255, 255, 255, 0.8);
	margin-top: 40px;
}
.hero-buttons {
	margin-top: 70px;
}
.hero-buttons__ticket {
	background-color: rgba(255, 255, 255, 0);
}
.button {
	font-size: 14px;
	line-height: 16px;
	padding: 15px 30px;
	border: none;
	border-radius: 5px;
	text-decoration: none;
	cursor: pointer;
}
.hero-buttons__icon,
.hero-buttons__text {
	display: inline-block;
	vertical-align: middle;
	color: #ffffff;
}
.hero-battons_active {
	background-color: rgba(255, 255, 255, 1);
	color: #8d0019;
}
.hero-buttons__text {
	margin-left: 10px;
}

.venom-pic {
	position: absolute;
	top: 0;
	right: 0;
}
.blood {
	background: url('../img/blood.png') no-repeat top right,
		#1f1c20 url('../img/background.jpg') no-repeat center center / cover;
}
.no-blood {
	background: #1f1c20 url('../img/background.jpg') no-repeat center center /
		cover;
}

.content {
	display: flex;
}
.col {
	flex-basis: 50%;
}
.col-actors__title {
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	color: rgba(255, 255, 255, 0.8);
	margin-bottom: 20px;
}
.col-actors__text {
	font-size: 16px;
	line-height: 140%;
	/* or 22px */
	color: rgba(255, 255, 255, 0.8);
	max-width: 423px;
	margin-bottom: 30px;
}
.col-actors__subtitle {
	font-weight: bold;
	font-size: 16px;
	line-height: 140%;
	/* or 22px */
	color: rgba(255, 255, 255, 0.8);
	margin-bottom: 15px;
}
.col-actors__list,
.col-producer__list {
	list-style-type: none;
	padding: 0;
	line-height: 1.5;
}

.col-actors__list {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	-webkit-column-gap: 20px;
	-moz-column-gap: 20px;
	column-gap: 20px;
	max-width: 350px;
}
.trailer {
	width: 356px;
	height: 205px;
	background: url('../img/trailer.jpg') no-repeat center / contain;
	border-radius: 5px;
	display: flex; /*      */ /*                                                         */
	align-items: center; /**/ /* выравнивает содержимое (кнопку play) по центру картинки */
	justify-content: center; /*                                                         */
	margin-top: 33px;
}
.trailer__button {
	width: 45px;
	height: 45px;
	border-radius: 50%; /* */ /*                 */
	padding: 15px 30px; /* */ /* Овальная кнопка */
	display: flex; /*      */ /*                 */
	justify-content: center; /*                 */
}

.col-producer {
	display: flex;
}
.col-producer__poster {
	border-radius: 5px;
	margin-right: 30px;
}
.col-producer__subtitle {
	margin-top: 0;
	margin-bottom: 0;
}
.col-producer__list {
	margin-top: 10px;
	margin-bottom: 25px;
}
